[Unit]
Description=Run elitev2-posts-import every 5 minutes

[Timer]
OnBootSec=6min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
